<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Reservaciones</title>

    <style>

    </style>
    <%- include("../compartido/estilos-generales/estilos-generales-component.ejs") %>

</head>
<body>

<% const existeError= typeof parametrosConsulta.error!= "undefined"%>
<% const existeMensaje= typeof parametrosConsulta.mensaje!= "undefined"%>

<% const activeDict={
    "inicio": false,
    "reservacion":true,
    "cliente": false,
    "usuario": false,
    "cancha": false,
    "equipo": false,
    "rol": false,
}%>
<%- include("../compartido/nav-bar/nav-bar-component.ejs",{active:activeDict}) %>
<div class="container">
    <h1>Reservaciones</h1>
    <% if (existeError){ %>
        <div class="alert alert-danger" role="alert">
            <%= parametrosConsulta.error%>
        </div>
    <% } %>
    <% if(existeMensaje) { %>
        <div class="alert alert-success" role="alert">
            <%= parametrosConsulta.mensaje%>
        </div>
    <%}%>
    <div class="row">
        <% const days = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sábado'];%>
        <% const today = new Date();
        const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        %>
        <div class="col-lg-1">
            <%= days[today.getDay()] +", "+date %>
        </div>
        <div class="col-lg-2">
            <a href="/reservaciones/crear">
                <button type="submit" class="btn btn-secondary">Nueva Reservación</button>
            </a>
        </div>
    </div>
</div>

<%- include("../compartido/funcionalidad-general/funcionalidad-general-component.ejs") %>
</body>
</html>
