<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Usuarios</title>

    <style>

    </style>
    <%- include("../compartido/estilos-generales/estilos-generales-component.ejs") %>

</head>
<body>

<% const existeError = typeof parametrosConsulta.error != "undefined" %>
<% const existeMensaje = typeof parametrosConsulta.mensaje != "undefined" %>

<% const existeCurrentUserRol= typeof currentUserRol!= "undefined"%>

<% if(!existeCurrentUserRol){currentUserRol="Cliente"} %>

<% const activeDict={
    "inicio": false,
    "reservacion":false,
    "cliente": false,
    "usuario": true,
    "cancha": false,
    "equipo": false,
    "rol": false,
    "currentUserRol": currentUserRol
}%>
<%- include("../compartido/nav-bar/nav-bar-component.ejs",{active:activeDict}) %>

<!--<div class="container">-->
<!--    <h1>Usuarios</h1>-->
<!--    <div class="row">-->
        <% // const today = new Date();
        //const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        // %>
<!--        <div class="col-lg-1">-->
            <% // = date %>
<!--        </div>-->
<!--        <div class="col-lg-2">-->
<!--            <a href="/usuarios/crear">-->
<!--                <button type="submit" class="btn btn-secondary">Nuevo Usuario</button>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <h1>Usuarios</h1>
    <% if (existeError){ %>
        <div class="alert alert-danger" role="alert">
            <%= parametrosConsulta.error %>
        </div>
    <% } %>
    <% if(existeMensaje) { %>
        <div class="alert alert-success" role="alert">
            <%= parametrosConsulta.mensaje %>
        </div>
    <% } %>
    <form action="/usuarios"
          method="get">
        <div class="input-group mb-3">
            <input
                    type="text"
                    class="form-control"
                    aria-label="Example text with button addon"
                    aria-describedby="button-addon1"
                    name="busqueda"
                    id="busqueda">
            <div class="input-group-prepend">
                <button class="btn btn-secondary" type="submit" id="busqueda">Buscar</button>
            </div>
        </div>
    </form>
    <div class="row">
        <% const today = new Date();
        const date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        %>
        <div class="col-lg-1">
            <%= date %>
        </div>
        <div class="col-lg-2">
            <a href="/usuarios/crear">
                <button type="submit" class="btn btn-secondary">Nuevo Usuario</button>
            </a>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cédula</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Tipo</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% let counter = 1 %>
        <% arregloUsuarios.forEach((usuarioObjeto) => { %>
            <tr>
                <th scope="row"><%= counter %></th>
                <td><%= usuarioObjeto.nombre %></td>
                <td><%= usuarioObjeto.apellido %></td>
                <td><%= usuarioObjeto.numeroCedula %></td>
                <td><%= usuarioObjeto.telefono %></td>
                <td><%= usuarioObjeto.tipo %></td>
                <td>
                    <a href="/usuarios/editar/<%= usuarioObjeto.id %>">
                        <button type="submit" class="btn btn-secondary">Editar</button>
                    </a>
                    <form action="/usuarios/eliminarDesdeVista/<%= usuarioObjeto.id %>"
                          method="post">
                        <button type="submit" class="btn btn-secondary">Eliminar</button>
                    </form>
                </td>
            </tr>
            <% counter += 1 %>
        <% }) %>
        </tbody>
    </table>
</div>

<%- include("../compartido/funcionalidad-general/funcionalidad-general-component.ejs") %>
</body>
</html>