<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Canchas</title>

    <style>

    </style>
    <%- include("../compartido/estilos-generales/estilos-generales-component.ejs") %>

</head>
<body>

<% const existeError= typeof parametrosConsulta.error!= "undefined"%>
<% const existeMensaje= typeof parametrosConsulta.mensaje!= "undefined"%>

<% const activeDict={
    "inicio": false,
    "reservacion":false,
    "cliente": false,
    "usuario": false,
    "cancha": true,
    "equipo": false,
    "cancha": false,
}%>
<%- include("../compartido/nav-bar/nav-bar-component.ejs",{active:activeDict}) %>
<div class="container">
    <h1>Canchas</h1>
    <% if (existeError){ %>
        <div class="alert alert-danger" canchae="alert">
            <%= parametrosConsulta.error%>
        </div>
    <% } %>
    <% if(existeMensaje) { %>
        <div class="alert alert-success" canchae="alert">
            <%= parametrosConsulta.mensaje%>
        </div>
    <%}%>
    <div class="row">
        <% const days = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sábado'];%>
        <% const today = new Date();
        const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        %>
        <div class="col-lg-1">
            <%= days[today.getDay()] +", "+date %>
        </div>
        <div class="col-lg-2">
            <a href="/canchas/crear">
                <button type="submit" class="btn btn-secondary">Nueva Cancha</button>
            </a>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Comentario</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% let counter = 1%>
        <% arregloCanchas.forEach((canchaObjeto) => { %>
            <tr>
                <th scope="row"><%= counter%></th>
                <td><%= canchaObjeto.nombre%></td>
                <td><%= canchaObjeto.comentario%></td>
                <td><%= canchaObjeto.tipo%></td>
                <td><%= canchaObjeto.estado%></td>
                <td>
                    <a href="/canchas/editar/<%= canchaObjeto.id%>">
                        <button type="submit" class="btn btn-secondary">Detalles</button>
                    </a>
                    <form action="/canchas/eliminarDesdeVista/<%= canchaObjeto.id%>"
                          method="post">
                        <button type="submit" class="btn btn-secondary">Eliminar</button>
                    </form>
                </td>
            </tr>
            <% counter+=1%>
        <%})%>
        </tbody>
    </table>
</div>

<%- include("../compartido/funcionalidad-general/funcionalidad-general-component.ejs") %>
</body>
</html>