<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <% const existeCancha = typeof cancha != "undefined" %>
    <title><%= existeCancha ? "Editar" : "Crear" %> Cancha</title>

    <style>

    </style>
    <%- include("../compartido/estilos-generales/estilos-generales-component.ejs") %>

</head>
<body>

<!--Banderas para comprobar variables usadas luego-->

<% let existeError = typeof error != "undefined" %>
<% let existeNombreError = typeof nombreError != "undefined" %>
<% let existeComentarioError = typeof comentarioError != "undefined" %>
<% let existeTipoError = typeof tipoError != "undefined" %>
<% let existeEstadoError = typeof estadoError != "undefined" %>
<% let existeNombre = typeof nombre != "undefined" %>
<% let existeComentario = typeof comentario != "undefined" %>
<% let existeTipo = typeof tipo != "undefined" %>
<% let existeEstado = typeof estado != "undefined" %>

<% if(existeCancha){ %>

    <!--Se prefiere lo recibido por un error en consulta, si no existe se llena desde la BD-->
    <% if (!existeNombre) {
        nombre = cancha.nombre
    } %>
    <% if (!existeComentario) {
        comentario = cancha.comentario
    } %>
    <% if (!existeTipo) {
        tipo = cancha.tipo
    } %>
    <% if (!existeEstado) {
        estado = cancha.estado
    } %>

    <% existeNombre = true %>
    <% existeComentario = true %>
    <% existeTipo = true %>
    <% existeEstado = true %>

<% } %>

<!--Permite controlar que parte del menu de navegacion esta activo-->
<% const activeDict = {
    "inicio": false,
    "reservacion": false,
    "cliente": false,
    "usuario": false,
    "cancha": true,
    "equipo": false,
    "rol": false
} %>
<%- include("../compartido/nav-bar/nav-bar-component.ejs",{active:activeDict}) %>

<div class="container">
    <!--Definir si es la vista editar o crear-->
    <h1> <%= existeCancha ? "Editar" : "Crear" %> Cancha</h1>
    <% if (existeError){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <form action=" <%= existeCancha ? "/canchas/editarDesdeVista/" + cancha.id : "/canchas/crearDesdeVista/" %>"
          method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCanchaName">Nombre de la Cancha</label>
                <input
                        type="text"
                        class="form-control <%= existeNombreError ? "is-invalid" : "" %>"
                        id="inputCanchaName"
                        name="nombre"
                        value="<%= existeNombre ? nombre : "" %>"
                        placeholder="Ingrese el nombre del rol, por ejemplo usuario">
                <div class="invalid-feedback">
                    <%= existeNombreError ? nombreError : "" %>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputCanchaComentario">Comentario</label>
                <input
                        type="text"
                        class="form-control <%= existeComentarioError ? "is-invalid" : "" %>"
                        id="inputCanchaComentario"
                        name="comentario"
                        value="<%= existeComentario ? comentario : "" %>">
                <div class="invalid-feedback">
                    <%= existeComentarioError ? comentarioError : "" %>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCanchaTipo">Tipo</label>
                <input
                        type="text"
                        class="form-control <%= existeTipoError ? "is-invalid": "" %>"
                        id="inputCanchaTipo"
                        name="tipo"
                        value="<%= existeTipo ? tipo : "" %>">
                <div class="invalid-feedback">
                    <%= existeTipoError ? tipoError : "" %>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputCanchaEstado">Estado</label>
                <select
                        id="inputCanchaEstado"
                        class="form-control <%= existeEstadoError ? "is-invalid": "" %>"
                        name="estado">
                    <option selected><%= existeEstado ? estado : "Seleccione..." %></option>
                    <option>Disponible</option>
                    <option>En uso</option>
                    <option>En mantenimiento</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary"><%= existeEstado ? "Guardar": "Crear"%></button>
        <button type="reset" class="btn btn-light">Limpiar</button>
    </form>
</div>

<%- include("../compartido/funcionalidad-general/funcionalidad-general-component.ejs") %>
</body>
</html>